<template>
  <q-page class="flex flex-center column">
    <h5 style="padding: 0em"> CATEGORIAS</h5>

    <div class="q-gutter-y-md column" style="max-width: 300px">
      <q-input color="bloack" v-model="buscar">
        <template v-slot:prepend>
          <q-icon name="search" />
        </template>
      </q-input>
    </div>

   <div class="q-pa-md" style="width: 400px" v-if="categorias.length >0">
    <q-list bordered class="rounded-borders" v-if="buscador.length >0">
      <q-expansion-item
        expand-separator
        v-for='(categ, index) in buscador' :key='index'
        :label= (categ.name)>
        <q-card>
          <q-card-section class="row justify-around">
            <q-btn label="Editar" color="positive" @click="editarcategoria(categ.id)" />
            <q-btn color="negative" label="Eliminar" v-on:click="eliminarcategoria(categ.id)"/>
          </q-card-section>
        </q-card>
      </q-expansion-item>
    </q-list>
    <h4 v-else> No se encontro dicha categoria </h4>
    </div>

    <h5 v-else> No hay categorias disponibles </h5>

    <div class="fixed-bottom-right">
      <q-btn round color="secondary" icon="add" @click="crearcategoria()" />
    </div>
  </q-page>
</template>

<script>
import axios from 'axios'
import { mapState, mapActions } from 'vuex'
export default {
  name: 'categorias',
  computed: {
    ...mapState('categoria', ['categorias']),
    buscador () {
      return this.categorias.filter(buscado => buscado.name.includes(this.buscar))
    }
  },
  methods: {
    ...mapActions('categoria', ['traercategorias']),

    // CREAR CATEGORIA
    crearcategoria () {
      this.$q.dialog({
        title: 'Agregar nueva categoria',
        message: '¿Que nombre desea otorgarle?',
        prompt: {
          model: '',
          type: 'text' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        axios.post('http://nacho.ninja/take/server/api/categories', { name: data })
          .then((response) => {
            this.traercategorias()
            this.$q.notify({
              message: 'Agregado con exito',
              color: 'green'
            })
            console.log(response)
          })
          .catch((error) => console.log('No se pudo crear deposito' + error))
      })
    },

    // EDITAR CATEGORIA
    editarcategoria (number) {
      this.$q.dialog({
        title: 'Editar',
        message: '¿Que nombre desea asignarle?',
        prompt: {
          model: '',
          type: 'text' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        axios.put('http://nacho.ninja/take/server/api/categories/' + number, {
          name: data
        }).then((response) => {
          this.traercategorias()
          this.$q.notify({
            message: 'Editado con exito',
            color: 'green'
          })
          console.log('>>>> OK, received', number, data)
        })
          .catch((error) => console.log('No se pudo actualizar deposito de id: ' + number + 'porque ' + error))
      })
    },

    // ELIMINAR CATEGORIA
    eliminarcategoria (number) {
      this.$q.dialog({
        title: 'ADVERTENCIA',
        message: 'ESTA SEGURO DE QUE DESEA BORRAR ESTA CATEGORIA',
        cancel: true,
        persistent: true
      }).onOk(() => {
        axios.delete('http://nacho.ninja/take/server/api/categories/' + number)
          .then((response) => {
            this.traercategorias()
            this.$q.notify({
              message: 'Eliminado con exito',
              color: 'green'
            })
            console.log(response, 'eliminado con todo exito')
          })
          .catch((error) => console.log('No se pudo eliminar porque: ' + error))
      })
    }
  },
  data () {
    return {
      buscar: ''
    }
  },
  mounted () {
    this.traercategorias()
  }
}
</script>
