<template>
  <q-page padding class="flex flex-center column">
    <div>
    <p class="text-weight-bold"> Deposito: {{ this.nombre }} <br />
     y de id: {{this.identificador}}</p>

     <div class="q-gutter-y-md column" style="max-width: 400px">
        <q-input rounded outlined color="bloack" v-model="buscar">
          <template v-slot:prepend>
            <q-icon name="search" />
          </template>
        </q-input>
      </div>

     <div class="q-pa-md" style="max-width: 400px" v-if="productoslocales.length > 0">
        <q-list bordered class="rounded-borders">
          <q-expansion-item
            expand-separator
            v-for='(producto, index) in buscador' :key='index'
            :label="producto.name" >
            <q-card>
              <q-card-section>
                Descripcion: {{ producto.description }} <br>
                Categoria: {{ producto.category.name }} <br>
                Stock: {{producto.stock}}
                <div>
                  <q-btn color="positive" text-color="black" label="Editar" v-on:click="comienzoedicion(producto.id, producto.name, producto.description, producto.stock)"/>
                  <q-btn color="negative" text-color="white" label="Eliminar" v-on:click="eliminarproducto(producto.id)"/>
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
      </div>
      <h5 v-else> No hay productos para mostrar </h5>
      <pre> {{buscador}} </pre>

      <div class="fixed-bottom-right">
        <q-btn round color="secondary" icon="add" @click="agregar = true" />
      </div>
    </div>

    <q-dialog v-model="agregar">
      <q-card>
        <q-card-section>
          <div class="row no-wrap items-center">
            <div class="col text-h6 ellipsis">
              Agregar productos
            </div>
              <q-input outlined v-model="anombre" label="Nombre" /> <br>
              <q-input outlined v-model="adescripcion" label="Descripcion" /> <br>
              <q-input outlined v-model="astock" label="Stock" />
            </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-btn label="Agregar" color="positive" @click="crearproducto" />
          <q-btn label="Cancelar" color="negative" v-close-popup />
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="editar">
      <q-card>
        <q-card-section>
          <div class="row no-wrap items-center">
            <div class="col text-h6 ellipsis">
              Editar productos
            </div>
              <q-input v-model="nuevonombre" label="Nombre" /> <br>
              <q-input v-model="nuevadescripcion" label="descripcion" /> <br>
              <q-input v-model="nuevostock" label="Stock" />
            </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-btn label="Actualizar" color="positive" @click="enviareditado" />
          <q-btn label="Eliminar" color="negative" v-close-popup />
        </q-card-section>
      </q-card>
    </q-dialog>
    <button @click="manualrefresh()"> Manual Refresh </button>
  </q-page>
</template>

<script>
import axios from 'axios'
import { mapState, mapActions } from 'vuex'
export default {
  name: 'maindeposito',
  mounted () {
    this.$q.loading.show({
      delay: 200
    })
    this.traerproductos()
    this.traerdepositos()
    this.filtrarproductos()
    setTimeout(() => { this.$q.loading.hide() }, 2000)
  },
  data () {
    return {
      identificador: this.$route.params.id,
      nombre: this.$route.params.nombre,
      productoslocales: [],
      buscar: '',
      agregar: false,
      anombre: '',
      adescripcion: '',
      astock: '',
      editar: false,
      nuevoid: '',
      nuevonombre: '',
      nuevadescripcion: '',
      nuevostock: ''
    }
  },
  computed: {
    ...mapState('productos', { todosproductos: 'todosproductos' }),
    ...mapState('warehouse', { depositos: 'depositos' }),
    buscador () {
      return this.productoslocales.filter(buscado => buscado.name.includes(this.buscar))
    }
  },
  methods: {
    ...mapActions('productos', ['traerproductos']),
    ...mapActions('warehouse', ['traerdepositos']),
    manualrefresh () {
      this.traerproductos()
      this.filtrarproductos()
    },

    // FILTRAR PRODUCTOS
    filtrarproductos () {
      this.productoslocales = this.todosproductos.filter((filtrados) => parseInt(filtrados.warehouse_id) === parseInt(this.identificador))
    },

    // CREAR PRODUCTO
    crearproducto () {
      axios.post('http://nacho.ninja/take/server/api/products', {
        name: this.anombre,
        description: this.adescripcion,
        category_id: 1,
        stock: this.astock,
        warehouse_id: this.identificador
      }).then(respuesta => {
        this.anombre = ''
        this.adescripcion = ''
        this.astock = ''
        this.traerproductos()
        this.filtrarproductos()
        this.agregar = false
        this.$q.notify({
          message: 'Agregado con exito',
          color: 'green'
        })
        console.log(respuesta)
      })
        .catch(() => {
          this.$q.notify({
            message: 'Fallo la creacion',
            color: 'red'
          })
        })
    },

    // ELIMINAR PRODUCTO
    eliminarproducto (number) {
      this.$q.dialog({
        title: 'ADVERTENCIA DE BORRADO',
        message: 'Esta seguro que desea borrar este producto?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        axios.delete('http://nacho.ninja/take/server/api/products/' + number)
          .then(() => {
            this.traerproductos()
            this.filtrarproductos()
            this.$q.notify({
              message: 'Eliminado con exito',
              color: 'green'
            })
          }).catch(() => {
            this.$q.notify({
              message: 'Fallo al eliminar',
              color: 'red'
            })
          })
      }).onCancel(() => {
        console.log('>>>> Cancel')
      })
    },

    // EDITAR PRODUCTO
    comienzoedicion (id, name, description, stock) {
      this.editar = true
      this.nuevoid = id
      this.nuevonombre = name
      this.nuevadescripcion = description
      this.nuevostock = stock
    },
    enviareditado () {
      axios.put('http://nacho.ninja/take/server/api/products/' + this.nuevoid, {
        name: this.nuevonombre,
        description: this.nuevadescripcion,
        stock: this.nuevostock
      }).then(resp => {
        console.log(resp)
        this.nuevonombre = ''
        this.nuevadescripcion = ''
        this.nuevostock = ''
        this.traerproductos()
        this.filtrarproductos()
        this.editar = false
        this.$q.notify({
          message: 'Editado con exito',
          color: 'green'
        })
      }).catch(
        () => {
          this.$q.notify({
            message: 'Fallo al eliminar',
            color: 'green'
          })
        }
      )
    }
  }

}
</script>
