<template>
  <q-page class="flex flex-center column">
    <h5 class="text-center text-weight-bolder text-subtitle1"> LISTADO DE DEPOSITOS </h5>

    <div class="q-gutter-y-md column" style="max-width: 400px">
        <q-input rounded outlined color="bloack" v-model="buscar">
          <template v-slot:prepend>
            <q-icon name="search" />
          </template>
        </q-input>
      </div>

    <div class="q-pa-md" style="width: 400px" v-if="depositos.length > 0">
    <q-list bordered class="rounded-borders" v-if="buscador.length >0">
      <q-expansion-item
        expand-separator
        v-for="(deposito, index) in buscador" :key='index'
        :label= (deposito.name)>
        <q-card>
          <q-card-section class="row justify-around">
              <q-btn color="primary" label="Revisar" :to="{name:'deposito', params: {id: deposito.id, nombre: deposito.name }}" />
              <q-btn label="Editar" color="positive" @click="prompt(deposito.id)" />
              <q-btn color="negative" label="Eliminar" v-on:click="confirm(deposito.id)"/>
          </q-card-section>
        </q-card>
      </q-expansion-item>
    </q-list>
    <h6 v-else> No se encontraron depositos con ese nombre </h6>
    </div>

    <h3 v-else>No hay depositos para mostrar </h3>

  <div>
    <q-btn round color="primary" icon="add" v-on:click="agregardeposito ()" class="fixed-bottom-right"/>
  </div>

  <div>
    <button @click='traerdepositos2()'> traer depositos</button>
  </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import axios from 'axios'
export default {
  name: 'Main',
  mounted () {
    this.$q.loading.show({
      delay: 200
    })
    this.traerdepositos()
    this.traerproductos()
    setTimeout(() => { this.$q.loading.hide() }, 2000)
  },
  data () {
    return { buscar: '' }
  },
  computed: {
    ...mapState('warehouse', ['depositos']),
    buscador () {
      return this.depositos.filter(buscado => buscado.name.includes(this.buscar))
    }
  },
  methods: {
    ...mapActions('warehouse', ['traerdepositos', 'agregardeposito']),
    ...mapActions('productos', ['traerproductos']),
    traerdepositos2 () {
      this.traerdepositos()
    },

    // EDITAR NOMBRE DEPOSITO
    prompt (number) {
      this.$q.dialog({
        title: 'Editar',
        message: '¿Que nombre desea asignarle?',
        prompt: {
          model: '',
          type: 'text' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        axios.put('http://nacho.ninja/take/server/api/warehouses/' + number, {
          name: data
        }).then((response) => {
          this.traerdepositos()
          this.$q.notify({
            message: 'Editado con exito',
            color: 'green'
          })
          console.log(response)
          console.log('>>>> OK, received', number, data)
        })
          .catch((error) => console.log('No se pudo actualizar deposito de id: ' + number + 'porque ' + error))
      })
    },

    // ELIMINAR DEPOSITO
    confirm (number) {
      this.$q.dialog({
        title: 'ADVERTENCIA',
        message: 'ESTA SEGURO DE QUE DESEA BORRAR ESTE DEPOSITO?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        axios.delete('http://nacho.ninja/take/server/api/warehouses/' + number)
          .then((response) => {
            this.traerdepositos()
            this.$q.notify({
              message: 'Eliminado con exito',
              color: 'green'
            })
            console.log(response, 'aliminado con todo exito')
          })
          .catch((error) => console.log('No se pudo eliminar porque: ' + error))
      })
    },

    // CREAR NUEVO DEPOSITO
    agregardeposito () {
      this.$q.dialog({
        title: 'Agregar nuevo deposito',
        message: '¿Que nombre desea otorgarle?',
        prompt: {
          model: '',
          type: 'text' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        axios.post('http://nacho.ninja/take/server/api/warehouses', { name: data })
          .then((response) => {
            this.traerdepositos()
            this.$q.notify({
              message: 'Agregado con exito',
              color: 'green'
            })
            console.log(response)
          })
          .catch((error) => console.log('No se pudo crear deposito' + error))
      })
    }
  }
}
</script>
