<template>
  <q-page class="flex flex-center column">
    <div class="q-pa-md">

    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <q-input
        filled
        v-model="name"
        label="Ingrese su usuario"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Por favor complete este campo']"
      />

      <q-input
        filled
        type="password"
        v-model="age"
        label="Su contraseña"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Por favor ingrese un valor',
        ]"
      />
     <div class="row justify-center">
      <q-btn label="Ingresar" type="submit" color="primary"/>
      <q-btn label="Borrar todo" type="reset" color="primary" flat class="q-ml-sm" />
    </div>
    </q-form>

    <div class="q-pa-sm justify-center">
      <q-btn class="facebookb" icon="facebook" label="Desea ingresar con facebook"/>
      <q-btn class="twitterb" icon="flutter_dash" label="desea ingresar con twitter" />
      <q-btn class="googleb" icon="mail" label="desea ingresar con google" />
    </div>

  </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageLogin',
  data () {
    return {
      name: null,
      age: null
    }
  },
  methods: {
    onSubmit () {
      this.$router.push({ name: 'home' })
    },

    onReset () {
      this.name = null
      this.age = null
    }
  }
}
</script>

<style>
  .facebookb {
    margin-top: 1em;
    background: #000080;
    color: white;
    width: 400px
  }
  .twitterb {
    margin-top: 1em;
    background: rgb(8, 192, 238);
    color: white;
    width: 400px
  }
  .googleb {
    margin-top: 1em;
    background: grey;
    color: white;
    width: 400px
  }
</style>
