<template>
  <q-page>
    <h3 style="text-align:center; padding-top:1em"> Lo que le gusta a Dan Schneider </h3>
    <div style="text-align:center;">
      <iframe
    src="https://www.xvideos.com/embedframe/59025421"
    frameborder=0
    width=510
    height=400
    scrolling=no
    allowfullscreen=allowfullscreen> </iframe>
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>
