<template>
  <div class="q-pa-md" style="max-width: 350px">
    <q-list bordered separator>
      <q-item clickable v-ripple :to="link">
        <q-item-section>Single line item</q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
export default {
  name: 'costado',
  props: {
    title: {
      type: String,
      required: true
    },
    link: {
      type: Object,
      required: true
    }
  }
}
</script>
