<template>
  <q-layout view="hHh lpR fFf">

    <q-header class="bg-primary text-white justify-center">
      <q-toolbar>
        <div class="justify-center">
          <q-toolbar-title class="justify-center">
          Login
        </q-toolbar-title>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>

export default {
  data () {
    return {
    }
  }
}

</script>
