<template>
  <q-layout view="hHh lpR fFf">

    <q-header bordered class="bg-primary text-white">
      <q-toolbar class="justify-between">
        <div>
        <q-btn dense flat round icon="menu" @click="leftDrawerOpen = !leftDrawerOpen" />
        <q-btn dense flat round icon="home" to="/home" />
        </div>

        <div>
        <q-toolbar-title >
          Depositos
        </q-toolbar-title>
        </div>

        <div><q-btn dense flat round icon="login" to="/" /></div>
      </q-toolbar>

    </q-header>

    <q-drawer v-model="leftDrawerOpen" side="left" overlay behavior="mobile">
      <q-list bordered separator>
        <q-item clickable v-ripple :to="{name:'categorias'}">
          <q-item-section> Categorias </q-item-section>
        </q-item>

        <q-item clickable v-ripple :to="{name:'xxx'}">
          <q-item-section> xxx </q-item-section>
        </q-item>

        <q-item clickable v-ripple :to="{name:'about'}">
          <q-item-section> About </q-item-section>
        </q-item>

       </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState(['menucostado'])
  },
  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>
